.footer {
    background-color: #fffdf6;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: auto;
    height: 4rem;
    align-items: center;
}

.footerColumn {
    display: flex;
    flex-direction: column;
    text-align: center;
}
